*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}  
header{
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}
main{
  width: 960px;
  margin: 50px auto;
  display: flex;
}
.process{
  position: relative;
  width: 300px;
  padding: 10px;
  background-color: #EEEEEE;
  margin-right: 30px;
}
.process:last-child{
  margin-right: 0;
}
.step{
  display: block;
  color: white;
  background-color: #FF9A4b;
  position: absolute;
  top: 0;
  left:0;
}
.process_image{
  height: 150px;
  background-position: bottom;
  background-size: cover;
}
.image1 {
  background-image: url(img/flow01.png);
}
.image2 {
  background-image: url(img/flow02.png);
}
.image3 {
  background-image: url(img/flow03.png);
}
.process_content{
  padding-top: 15px;
}
.process_title{
  padding-bottom: 5px;
}
footer{
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 768px){
  main{
    width: 90%;
    flex-wrap: wrap;
  }
  .process{
    width: 90%;
    margin-bottom: 20px;
  }
  .process:nth-child(3){
    margin-bottom:0;
  }
  .process_image{
    height: 150px;
  }
}